/*-------------------------------------------------------------
########################## FONTS #############################
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


/*-------------------------------------------------------------
######################## Header ###########################
--------------------------------------------------------------*/

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  background-image: linear-gradient(to bottom right, rgba(24, 21, 38, 0), rgba(74, 64, 119, 0));
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }


}

@media (min-width: 991px) {
  #main {
    margin-left: 100px;
  }
}

/*-------------------------------------------------------------
######################## Display Nav ###########################
--------------------------------------------------------------*/

.nav-menu {
  padding: 0;
  display: grid;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 20px;
  border-radius: 80px;
  background: #4a4077;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #fff;
}

@media (min-width: 992px) {

  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }

  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #181520;
    background: #4a4077;
  }
  
  
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  color: #fff;
  background-color: #4a4077;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
  color: white;
}

.nav-menu a:hover,
.nav-menu li:hover>a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
  display: block;
}

/*-------------------------------------------------------------
######################## Mobile Nav ##########################
--------------------------------------------------------------*/
.mobile-nav-toggle {
  position: absolute;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
  background-color: #181526;
}

.mobile-nav-active #header {
  left: 0;
  background-color: #181526;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #181526;
}


/*-------------------------------------------------------------
######################## All Main ###########################
--------------------------------------------------------------*/

:root {
  --text-color: white;
  --bg-color: linear-gradient(to bottom right, #181526, #181427, #181540, #383060, #4a4077, #384060);
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

#body {
    background-image: linear-gradient(to bottom right, #181526, #181427, #181540, #383060, #4a4077, #384060);
    color: white;
    
}

/*-------------------------------------------------------------
######################## Home ###########################
--------------------------------------------------------------*/
section {
  min-height: 100vh;
  padding: 5.2rem 12% 10rem;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}
span{
  color: #1254b3;
}
.logo span {
  color: #1254b3;
}
.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3rem;
}
.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-img{
  border-radius: 50%;
}
.home-img img{
  position: relative;
  top: 1rem;
  width: 28vw;
  border-radius: 50%;
  box-shadow: 0 0 25px #1254b3;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.home-img img:hover{
  box-shadow: 0 0 25px #1254b3,
              0 0 50px #1254b3,
              0 0 100px #1254b3;
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background: transparent;
  border: 3px solid #1254b3;
  font-size: 2.5rem;
  border-radius: 50%;
  color: #1254b3;
  margin: 1rem 0.3rem 1rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover{
  color: #1254b3;
  transform: scale(1.1)translateY(-5px);
  box-shadow: 0 0 25px #1254b3;
  background-color: #383060;
  text-decoration: none;
}
.btn{
  display: inline-block;
  padding: 1rem 1rem;
  background: #1254b3;
  box-shadow: 0 0 15px #1254b3;
  border-radius: 3rem;
  font-size: 1rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px #1254b3;
  color: #383060;
}
.btn-group{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btn-group a:nth-of-type(2){
  background-color: black;
  color: #1254b3;
  border: 2px solid #1254b3;
}

/*************MEDIA FOR HOME*************/
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .home-content h3 {
    margin-bottom: 6rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    justify-content: center;
  }
  .home-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 3.5rem;
    line-height: 1;
  }
  .home-img {
    display: none;
  }
  .social-icons a i {
    font-size: 20px; /* Adjust the size as needed */
  }
  .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 3px solid #1254b3;
    font-size: 2.5rem;
    border-radius: 50%;
    color: #1254b3;
    margin: 1rem 0.3rem 1rem 0;
    transition: 0.3s ease-in-out;
  }
  .btn-group {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-size: 2.5rem;
  }
  .btn {
    width: 100%;
  }
}

/*-------------------------------------------------------------
########################## General ############################
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #00f7ff;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #00f7ff;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  color: #fff;
}

.link-custom {
  font-weight: 700;
  position: relative;
}
.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #00f7ff;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}
.link-custom:hover::after {
  width: 100%;
  text-decoration: none;
}

a.link-custom {
  font-weight: 700;
  position: relative;
  text-decoration: none;
  color: #45505b;
}
a.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  color: #00f7ff;
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}
a.link-custom:hover::after {
  width: 100%;
}
a.link-custom:hover {
  text-decoration: none;
  color: #00f7ff; /* Ensure underline doesn't appear on hover */
}

.bg-base {
  background-color: #2a2349;
}

.shadow-eff {
  transition: all 0.5s;
}
.shadow-eff:hover {
  box-shadow: 5px 5px 0 5px #00f7ff;
}

.iconbox {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
/*-------------------------------------------------------------
########################## About #############################
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 13px;
  margin-right: 5px;
  color: #fff;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
  padding-left: 15px;
}

.about .content span{
  color: #00f7ff;
}

.year {
  color: #00f7ff;
}

.text {
  font-size: 0.8rem;
}
/*-------------------------------------------------------------
########################## Skills #############################
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #00f7ff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #ffffff;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #00f7ff;
}
--------------------------------------------------------------*/

/*-------------------------------------------------------------
######################## Portfolio ############################
--------------------------------------------------------------*/
.card-custom .card-custom-img {
  overflow: hidden;
}

.card-custom .card-custom-img img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-img img {
  transform: scale(1.1);
}

/*-------------------------------------------------------------
######################### Contact #############################
--------------------------------------------------------------*/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to fill the viewport */
}

.social-icons2 a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  background: transparent;
  border: 4px solid #001027;
  font-size: 3rem;
  border-radius: 50%;
  color: #001027;
  margin: 3rem 0.3rem 1rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons2 a:hover{
  color: #001027;
  transform: scale(1.1)translateY(-5px);
  box-shadow: 0 0 25px #1254b3;
  background-color: #383060;
  text-decoration: none;
}

/*-------------------------------------------------------------
########################## Footer #############################
--------------------------------------------------------------*/
#footer {
  background: #070108;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}

#footer h3 {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding: 0 0 15px 0;
}

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 35px;
  display: inline-block;
  background: black;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 60%;
  text-align: center;
  width: 55px;
  height: 52px;
transition: 0.3s;
}

#footer .social-links a:hover {
  background: #383060;
  color: white;
  text-decoration: none;
}

#footer .copyright {
  margin: 10px 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}